/*CSS Reset by Josh Comeau*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*Fonts*/
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

/*Variables*/
:root {
    /*Colors*/
    --background-color: #3E2C23;
    --surfaces-color: #F5E6D3;
    --primary-color: #C0603D;
    --accents-color: #A14E30;
    --text-on-dark-bg: #FAF8F3;
    --text-on-light-bg: #1C1C1C;
    --semi-transparent-bg: rgba(0, 0, 0, 0.5);

    /*Font Sizes*/
    --large: 3rem;
    --medium: 2rem;
    --small: 1.2rem;
    --extra-small: 0.8rem;

    /*Shadows*/
    --section-shadow: 0 8px 20px oklch(0.8 0 0 / 0.25);
    --card-shadow: 0 10px 30px oklch(0.7 0.02 260 / 0.2);
    --card-shadow-enhanced: 
        0 10px 30px oklch(0.7 0.02 260 / 0.2),
        0 15px 50px oklch(0.8 0.04 260 / 0.2)
}

/*========== CSS Styling ==========*/

body {
    background-color: var(--background-color);
    color: var(--text-on-dark-bg);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 100px;
    gap: 20px;
}

header {
    background-color: var(--surfaces-color);
    color: var(--text-on-light-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--section-shadow);
}

header h1 {
    font-size: var(--large);
}

main {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.add-btn {
    background-color: var(--primary-color);
    color: var(--text-on-dark-bg);
    font-size: var(--medium);
    font-weight: bold;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.add-btn:hover,
.add-btn:active {
    background-color: var(--accents-color);
}

.add-btn:active {
    box-shadow: var(--card-shadow);
}

.cards-container {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: start;
    gap: 20px;
    padding: 0 20px;
}

.book-card {
    background-color: var(--surfaces-color);
    color: var(--text-on-light-bg);
    font-size: var(--small);
    padding: 12px 20px;
    border-left: 6px solid var(--accents-color);
    border-radius: 12px;
    box-shadow: var(--card-shadow);
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.book-card:hover {
    transform: translateY(-4px);
    box-shadow: var(--card-shadow-enhanced);
}

.label {
    font-weight: bold;
}

footer {
    background-color: var(--surfaces-color);
    color: var(--text-on-light-bg);
    font-size: var(--small);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: var(--semi-transparent-bg);

  transition: opacity 300ms ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal-window {
  width: 300px;

  background-color: var(--surfaces-color);
  color: var(--text-on-light-bg);

  padding: 20px;
  border-radius: 8px;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.book-form .label {
  font-size: var(--extra-small);
}

.save-btn {
  background-color: var(--primary-color);
  color: var(--text-on-dark-bg);
  
  font-size: var(--small);
  font-weight: bold;
  
  border: none;
  border-radius: 10px;

  padding: 4px 6px;

  cursor: pointer;
}

.save-btn:hover,
.save-btn:active {
  background-color: var(--accents-color);
}
