/*CSS Reset by Josh Comeau*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*Fonts*/
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

/*Variables*/
:root {
    /*Colors*/
    --background-color: #3E2C23;
    --surfaces-color: #F5E6D3;
    --primary-color: #C0603D;
    --accents-color: #A14E30;
    --text-on-dark-bg: #FAF8F3;
    --text-on-light-bg: #1C1C1C;

    /*Font Sizes*/
    --large: 3rem;
    --medium: 2rem;
    --small: 1rem;
    --extra-small: 0.7rem;

    /*Shadows*/
    --section-shadow: 0 8px 20px oklch(1 0 0 / 0.25);
    --card-shadow: 0 10px 30px oklch(0.3 0.02 260 / 0.2);
}

/*========== CSS Styling ==========*/

body {
    background-color: var(--background-color);
    color: var(--text-on-dark-bg);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 20px;
}

header {
    background-color: var(--surfaces-color);
    color: var(--text-on-light-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--section-shadow);
}

header h1 {
    font-size: var(--large);
}